
.home{
    &__container{
        row-gap: 3rem;
    }
    &__data{
        text-align: center;
    }
    &__title{
        font-size:$biggest-font-size;
        font-weight: $font-bold;
        margin-bottom: 0.5rem;

    }
    &__description{
        margin-bottom: 2rem;
    }
}
